:root {
    --off-white: #F5EFE7; 
    --peach: #D8C4B6;
    --light-blue: #4F709C;
    --dark-blue: #213555;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--peach);
}

.header {
    display: flex;
    margin: 20px; 
    padding: 10px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 80%;
    height: 100%;
    margin: 40px auto;
    padding: 20px;
    border: 5px solid var(--light-blue);
    box-shadow: 5px 10px var(--dark-blue);
    background-color: var(--off-white);
}

#title-card,
#high-scores {
    align-items: center;
}

#title-card h2{
    margin-bottom: 10px;
}

#title-card p {
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

/* Styles all the buttons in the quiz */
.button {
    background-color: var(--light-blue);
    color: var(--off-white);
    box-shadow: 2px 5px var(--dark-blue);
    margin: 10px;
    padding: 5px 20px;
    font-size: 30px;
    border: 2px solid var(--dark-blue);
    border-radius: 15px;
    min-width: 200px;
    min-height: 45px;
    text-align: left;
    overflow-wrap: break-word;
}

/* Specifically styles buttons that have functionality (start, restart, etc) to have text centered */
form .button,
#start-quiz,
#restart,
#clearScores {
    text-align: center;
}

.button:active {
    background-color: var(--light-blue);
}

/* Boxes (or cards) are each main section of the quiz (title-card, questions-card, results-card, highscore-card) */
.box {
    display: flex;
    flex-direction: column;
}

.box h2 {
    font-size: 40px;
    margin-bottom: 10px;
    padding: 3px;
    border-bottom: 5px solid var(--dark-blue);
}

.box h3 {
    font-size: 35px;
    margin-top: 10px;
    padding: 3px;
    color: var(--peach);
    font-style: italic;
    border-top: 5px solid var(--dark-blue);
}

/* The most important style, changing the data-state of the cards to display none. 
This allows it so that only one card (title, question, results, highscore) is shown at one time only.  */
.box[data-state="hidden"] {
    display: none;
}

/* Form (submitting initials) styles here */
form label {
    font-size: 30px;
}

#initials {
    font-size: 30px;
    border-radius: 3px;
}

/* highscore-card table contents style here */
table {
    text-align: center;
    font-size: 20px;
    width: fit-content;
    padding: 5px;
}

li {
    font-size: 30px;
}

th, td {
    padding: 5px;
}

/* Hover is not in effect for small devices 
(if it is in effect, the clicked answer for question 1 will highlight the next question's choice in that same location 
(e.g., Question 1 Choice A is clicked. This makes Question 2 Choice A highlighted.)  */
@media screen and (min-width: 500px) {
    .button:hover {
        background-color: var(--dark-blue);
    }
}